{% extends 'template.html' %}
{% load tz %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %} Página Inicial {% endblock %}

{% block conteudo %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h2 class="title is-4 has-text-centered mt-6">Cadastre uma ocorrência</h2>
                <div class="box">
                    <form action="{% url 'home' %}" method="POST">
                        {% csrf_token %}
                        {% if form_ocorrencia.errors %}
                            <div class="message is-danger">
                                <div class="message-body">
                                    <p>Por favor, corrija os erros abaixo:</p>
                                    {{ form_ocorrencia.non_field_errors }}
                                    {% for field in form_ocorrencia %}
                                        {% if field.errors %}
                                            <p>{{ field.label }}: {{ field.errors }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        
                        <div class="field">
                            <label class="label" for="{{ form_ocorrencia.titulo.id_for_label }}">Título:</label>
                            <div class="control">
                                {{ form_ocorrencia.titulo|attr:"class:input" }} 
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="{{ form_ocorrencia.descricao.id_for_label }}">Descrição:</label>
                            <div class="control">
                                {{ form_ocorrencia.descricao|attr:"class:textarea" }} 
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="{{ form_ocorrencia.bairro.id_for_label }}">Bairro:</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form_ocorrencia.bairro }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary is-fullwidth button-success">Publicar</button>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>

        <hr>

        <h2>Ocorrências Recentes</h2>
        <div id="ocorrencias-container">
            {% for ocorrencia in ocorrencias %}
                <div class="box mb-5">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                {% if ocorrencia.usuario.foto %}
                                    <img class="is-rounded" src="{{ ocorrencia.usuario.foto.url }}" alt="Foto de perfil de {{ ocorrencia.usuario.nome_usuario }}">
                                {% else %}
                                    <img class="is-rounded has-background-white" src="{% static 'img/icon-user.png' %}" alt="Foto padrão"> 
                                {% endif %}
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <small>@{{ ocorrencia.usuario.nome_usuario }}</small> 
                                <p>
                                    <strong>{{ ocorrencia.titulo }}</strong> 
                                    <br>
                                    {{ ocorrencia.descricao|linebreaksbr }}
                                    <br>
                                    <small>Postado em: {{ ocorrencia.data_ocorrencia|localtime|date:"d/m/Y H:i" }}</small>
                                    
                                </p>
                                {% if ocorrencia.bairro %}
                                    <small>&bull; Bairro: {{ ocorrencia.bairro.nome }}</small>
                                {% endif %}
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item comentarios-btn" data-ocorrencia-id="{{ ocorrencia.id }}">
                                        <span class="icon is-medium">
                                            <img src="{% static 'img/chat_azul.png' %}" alt="Ícone de chat">
                                        </span>
                                        <span>  ({{ ocorrencia.comentarios.count }})</span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            {% empty %}
                <p class="has-text-centered is-size-5">Nenhuma ocorrência encontrada ainda. Seja o primeiro a postar!</p>
            {% endfor %}
        </div>

        {# --- NAVEGAÇÃO DA PAGINAÇÃO AQUI --- #}
        {% if ocorrencias.has_other_pages %}
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if ocorrencias.has_previous %}
                    <a class="pagination-previous" href="?page=1">Primeira</a>
                    <a class="pagination-previous" href="?page={{ ocorrencias.previous_page_number }}">Anterior</a>
                {% else %}
                    <a class="pagination-previous is-disabled" disabled>Primeira</a>
                    <a class="pagination-previous is-disabled" disabled>Anterior</a>
                {% endif %}

                {% if ocorrencias.has_next %}
                    <a class="pagination-next" href="?page={{ ocorrencias.next_page_number }}">Próxima</a>
                    <a class="pagination-next" href="?page={{ ocorrencias.paginator.num_pages }}">Última</a>
                {% else %}
                    <a class="pagination-next is-disabled" disabled>Próxima</a>
                    <a class="pagination-next is-disabled" disabled>Última</a>
                {% endif %}

                <ul class="pagination-list">
                    {% for i in ocorrencias.paginator.page_range %}
                        {% if ocorrencias.number == i %}
                            <li><a class="pagination-link is-current" aria-label="Page {{ i }}" aria-current="page">{{ i }}</a></li>
                        {% else %}
                            <li><a class="pagination-link" href="?page={{ i }}" aria-label="Go to page {{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        {# --- FIM DA NAVEGAÇÃO DA PAGINAÇÃO --- #}
    </div>

    {# ... Seu modal de comentários e script JS aqui ... #}

{% endblock %}