<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
    <header>
        <h2>
            <a href="{% url 'home' %}">AvisaAqui</a>
        </h2>
        <nav>
            <ul>
                {% if request.session.email %}
                    <li>Olá, {{ request.session.nome }}!</li>
                    <li><a href="{% url 'logout' %}">Sair (Logout)</a></li>
                {% else %}
                    <li><a href="{% url 'cadastro_usuario' %}">CADASTRAR</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        &copy;DaimaTech
    </footer>
</body>
</html>